<section class="h-100 h-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">

                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-12">
                                <div class="p-1">
                                    <center>
                                        <div class="container-fluid login-cont">
                                            <div class="sub-container">
                                                <div class="inner">
                                                    <form action="" method="post">
                                                        <h2 class="text-center">Add Category</h2>
                                                        <br>
                                                        <input class="form-control" type="text" name="code"
                                                            placeholder="Enter Coupon Code" required>
                                                        <br>
                                                        <input class="form-control" type="date" name="date"
                                                            placeholder="Enter expiry date of coupon" required>
                                                        <br>
                                                        <input class="form-control" type="text" name="percent"
                                                            placeholder="Enter Off Percent" required>
                                                        <br>
                                                        <input type="submit" value="Add Coupon"
                                                            class=" btn btn-success mt-2">
                                                        <br>
                                                        <span class="text-danger">{{message}}</span>
                                                        <br><br>
                                                        <a href="/admin/coupon" class="text-dark">Back</a>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>