<body id="editcate">
    <br><br><br><br><br><br>
    <div class="container-fluid login-cont">
        <div class="sub-container">
            <div class="inner">
              <center>  <form action="/admin/add-category" method="post">
                    <h2 class="text-center">Add Category</h2>
                    <br>
                    <input class="" type="text"  name="name" placeholder="enter category name" required="" pattern="^[A-Z]*$" title="NO SPACE ALLOWED">
                    <br>
                    <br>    
                     <input class="" type="text"  name="subname" placeholder="enter Subcategory name" required="" pattern="^[A-Z]*$" title="NO SPACE ALLOWED">
                    <br>
                     <div class="custom-file mt-3 mb-3">
                            <input id="fileInput" type="file" name="image" accept="image/*" style="display:none;" />
                            <input type="button" class="btn btn-primary btn-block w-25" value="UPLOAD CATEGORY IMAGE"
                                onclick="document.getElementById('fileInput').click();" />
                        </div>
                        <br>
                    <input type="submit" value="Add Category" class=" btn cust-btn mt-2 bg-success">
                    <br>
                    <span class="text-danger">{{error}}</span>
                </form></center>
            </div>
        </div>
    </div>
</body>