{{!-- 
	<!DOCTYPE html>
<html lang="zxx" class="no-js ">





	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu ">
			<nav class="navbar navbar-expand-lg navbar-light main_box" style="margin-top: 0px;">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="#">
						<h2> Cart -------------------<b style="color: blue;">Checkout</b>-------------------Payment</h2>
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
					
					</div>
				</div>
			</nav>
		</div>
	
	</header> --}}