<body>


	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div>
						<h1 id="loginpage">LensFocus</h1>
					

					</div>
					<div>
						{{#if message}}
						<div class="alert alert-success" role="alert"> {{message}}</div>
						{{else if error}}
						<div class="alert alert-danger" role="alert"> {{error}}</div>
						{{/if}}
					</div>

				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>OTP verification</h3>
						<form class="row login_form"  method="post"  id="contactForm">
							
							<div class="col-md-12 form-group">
								<input type="mobile" class="form-control" id="name" name="mobile" placeholder="Enter registered mobile">
									<input type="hidden" name="" value="{{email}}" hidden="">
							</div>	
							<div class="col-md-12 form-group">
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Send OTP</button>
								<a href="/login">LOG IN</a> <Span><a href="/signup">SIGN UP</a></Span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	<!-- start footer Area -->

	<!-- End footer Area -->



</body>