<br><br><br><br>

<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link  ms-0" href="user-profile">Profile</a>
        <a class="nav-link" href="address"> Add New Address</a>
        <a class="nav-link active" href="password-change">Password</a>
        <a class="nav-link" href="order">My Orders</a>
        {{!-- <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-edit-notifications-page"
            target="__blank">Notifications</a> --}}
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2"
                        src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <p>{{user.name}}</p>
                    <!-- Profile picture help block-->
                    {{!-- <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div> --}}
                    <!-- Profile picture upload button-->
                    {{!-- <button class="btn btn-primary" type="button">Upload new image</button> --}}
                </div>
            </div>
        </div>

        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Change Password</h3>
                </div>
                <div class="card-body">
                    <form class="form" role="form" autocomplete="off" method="post">
                        <div class="form-group">
                            <label for="inputPasswordOld">Current Password</label>
                            <input type="password" class="form-control" name="password" id="inputPasswordOld"
                                required="">
                        </div>
                        <div class="form-group">
                            <label for="inputPasswordNew">New Password</label>
                            <input type="password" class="form-control" name="npassword" id="inputPasswordNew"
                                required="">
                            <span class="form-text small text-muted">
                                The password must be 8-20 characters, and must <em>not</em> contain spaces.
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="inputPasswordNewVerify">Confirm Password</label>
                            <input type="password" class="form-control" name="cpassword" id="inputPasswordNewVerify"
                                required="">
                            <span class="form-text small text-muted">
                                To confirm, type the new password again.
                            </span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
                        </div>

                    </form>
                    <div class="form-group">
                        <a href="user-profile"> <button class="btn btn-success btn-lg float-left">Back</button></a>
                    </div>
                </div>
            </div>
            <!-- /form card change password -->

        </div>
    </div>
</div>
<br><br>
