<body>


	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div>
						<h1 id="loginpage">LensFocus</h1>
					

					</div>
					<div>
						{{#if message}}
						<div class="alert alert-success" role="alert"> {{message}}</div>
						{{else if error}}
						<div class="alert alert-danger" role="alert"> {{error}}</div>
						{{/if}}
					</div>

				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Reset password</h3>
						<form class="row login_form" action="/reset
						" method="post" id="contactForm">
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,}$"
									id="name" name="password" placeholder="Password"
									>
							</div>
							<input type="hidden" value="{{checkUser.email}}" name="email">
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="name" name="conpassword" placeholder="Password"
									pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,}$"
									>
							</div>
							<div class="col-md-12 form-group">
								{{!-- <div class="creat_account">
									<input type="checkbox" id="f-option2" name="selector">
									<label for="f-option2">Keep me logged in</label>
								</div> --}}
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Reset</button>
								<a href="/login">Login</a> <Span><a href="/signup">SIGNUP</a></Span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	<!-- start footer Area -->

	<!-- End footer Area -->



</body>